.content_404 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 144px;
    color: #000;
}

.numeric:nth-child(1) {
    -webkit-animation: first 11s linear infinite;
    animation: first 11s linear infinite;
}
.numeric:nth-child(2) {
    -webkit-animation: second 10s linear infinite;
    animation: second 10s linear infinite;
}
.numeric:nth-child(3) {
    -webkit-animation: third 9s linear infinite;
    animation: third 9s linear infinite;
}
@keyframes first {
    0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
        opacity: 1;
    }
    20%,21.999%,63%,63.999%,65%,69.999% {
        opacity: 0;
    }
}
@keyframes second {
    0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
        opacity: 1;
    }
    19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
        opacity: 0;
    }
}
@keyframes third {
    0%,11.999%,18%,39.999%,48%,62.999%,76%,89.999%,98%,100% {
        opacity: 1;
    }
    12%,17.999%,40%,47.999%,63%,75.999%,90%,97.999% {
        opacity: 0;
    }
}